#wrapper{
	width: 970px;
	height: 900px;
	background-color: black;
	overflow: hidden;
}
#header{
	width: 970px;
	height: 90px;
	background-color: gray;
}
#nav-menu{

}
#main-image{

}
#about{

}
#img1{

}
#img2{
	
}
#img3{
	
}
#img4{
	
}